<div class="sidebar mx-4">
  <input id="search" disabled type="text" placeholder="Buscar en Twitter" />
  <div class="trends card">
    <h2>Tendencias para ti</h2>
    <hr />
    <p class="tt">Tendencias en Uruguay</p>
    <p class="loremTT">Lorem ipsum dolor sit amet.</p>
    <p class="tt">427K Tweets</p>
    <hr />
    <p class="tt">Tendencias en Uruguay</p>
    <p class="loremTT">Lorem ipsum dolor sit amet.</p>
    <p class="tt">427K Tweets</p>
    <hr />
    <p class="tt">Tendencias en Uruguay</p>
    <p class="loremTT">Lorem ipsum dolor sit amet.</p>
    <p class="tt">427K Tweets</p>
    <hr />
    <p class="tt">Tendencias en Uruguay</p>
    <p class="loremTT">Lorem ipsum dolor sit amet.</p>
    <p class="tt">427K Tweets</p>
    <hr />
    <p class="tt">Tendencias en Uruguay</p>
    <p class="loremTT">Lorem ipsum dolor sit amet.</p>
    <p class="tt">427K Tweets</p>
    <hr />
  </div>
  <div>
    <!-- <% for (const randomUser of rondomUsers) { %>

      <div>
        <h6><%= randomUser.username %></h6>
        <form action="/user/<%= randomUser.id %>" method="post" >
          <button >seguir</button>
        </form>
      </div>

    <% } %> -->
  </div>
</div>
