<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style-login.css" />

    <title>Document</title>
  </head>
  <body>
    <style>
      .loading {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        transition: 1.5s all;
        opacity: 0;
      }
      .loading.show {
        opacity: 1;
      }
      .loading .spin {
        border: 3px solid hsla(185, 100%, 62%, 0.2);
        border-top-color: #3cefff;
        border-radius: 50%;
        width: 6em;
        height: 6em;
        animation: spin 2s linear infinite;
      }
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    </style>

    <!-- Loading HTML -->
    <div class="loading show">
      <div class="spin"></div>
    </div>

    <!-- Loading Javascript -->
    <script>
      // Loading
      var Loading = (loadingDelayHidden = 0) => {
        let loading = null;
        const myLoadingDelayHidden = loadingDelayHidden;
        let imgs = [];
        let lenImgs = 0;
        let counterImgsLoading = 0;
        function incrementCounterImgs() {
          counterImgsLoading += 1;
          if (counterImgsLoading === lenImgs) {
            hideLoading();
          }
        }
        function hideLoading() {
          if (loading !== null) {
            loading.classList.remove("show");
            setTimeout(function () {
              loading.remove();
            }, myLoadingDelayHidden);
          }
        }
        function init() {
          document.addEventListener("DOMContentLoaded", function () {
            loading = document.querySelector(".loading");
            imgs = Array.from(document.images);
            lenImgs = imgs.length;
            if (imgs.length === 0) {
              hideLoading();
            } else {
              imgs.forEach(function (img) {
                img.addEventListener("load", incrementCounterImgs, false);
              });
            }
          });
        }
        return { init: init };
      };

      Loading(1000).init();
    </script>

    <div class="contenedor">
      <div class="row g-0">
        <div class="col-lg-6 order-2 order-lg-1 h-100">
          <div class="div-image h-100">
            <svg
              class="left-bird"
              viewBox="0 0 24 24"
              aria-hidden="true"
              fill="white"
              class="r-jwli3a r-4qtqp9 r-yyyyoo r-rxcuwo r-1777fci r-m327ed r-dnmrzs r-494qqr r-bnwqim r-1plcrui r-lrvibr"
            >
              <g>
                <path
                  d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
                ></path>
              </g>
            </svg>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 h-100">
          <div class="ms-4">
            <div class="login-info">
              <div>
                <svg
                  class="right-bird"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  fill="white"
                  class="r-jwli3a r-4qtqp9 r-yyyyoo r-rxcuwo r-1777fci r-m327ed r-dnmrzs r-494qqr r-bnwqim r-1plcrui r-lrvibr"
                >
                  <g>
                    <path
                      d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
                    ></path>
                  </g>
                </svg>
              </div>
              <h1 class="maint-title">
                Lo que está <br />
                pasando ahora
              </h1>
              <h3 class="subtitle">Únete a Twitter hoy mismo.</h3>
              <div class="register_buttons">
                <button class="register register_google">
                  <span class="google-icon"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      x="00px"
                      y="0px"
                      width="18"
                      height="18"
                      viewBox="0 0 48 48"
                      style="fill: #000000"
                    >
                      <path
                        fill="#FFC107"
                        d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
                      ></path>
                      <path
                        fill="#FF3D00"
                        d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
                      ></path>
                      <path
                        fill="#4CAF50"
                        d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
                      ></path>
                      <path
                        fill="#1976D2"
                        d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
                      ></path></svg></span
                  >Registrarse con Google
                </button>
                <button class="register register_apple">
                  <span
                    ><svg
                      class="apple-icon"
                      xmlns="http://www.w3.org/2000/svg"
                      x="0px"
                      y="0px"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      style="fill: #000000"
                    >
                      <path
                        d="M 16.125 1 C 14.972 1.067 13.648328 1.7093438 12.861328 2.5273438 C 12.150328 3.2713438 11.589359 4.3763125 11.818359 5.4453125 C 13.071359 5.4783125 14.329031 4.8193281 15.082031 3.9863281 C 15.785031 3.2073281 16.318 2.12 16.125 1 z M 16.193359 5.4433594 C 14.384359 5.4433594 13.628 6.5546875 12.375 6.5546875 C 11.086 6.5546875 9.9076562 5.5136719 8.3476562 5.5136719 C 6.2256562 5.5146719 3 7.4803281 3 12.111328 C 3 16.324328 6.8176563 21 8.9726562 21 C 10.281656 21.013 10.599 20.176969 12.375 20.167969 C 14.153 20.154969 14.536656 21.011 15.847656 21 C 17.323656 20.989 18.476359 19.367031 19.318359 18.082031 C 19.922359 17.162031 20.170672 16.692344 20.638672 15.652344 C 17.165672 14.772344 16.474672 9.1716719 20.638672 8.0136719 C 19.852672 6.6726719 17.558359 5.4433594 16.193359 5.4433594 z"
                      ></path></svg></span
                  >Registrarse con Apple
                </button>
                <div class="container-o">
                  <hr class="line" />
                  <p class="o">o</p>
                  <hr class="line" />
                </div>
                <button
                  class="register new-register"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal3"
                >
                  Registrate con el número de ...
                </button>
                <p class="termins">
                  Al registrarte, aceptas los <a href="#">Términos de servicio</a>y la
                  <a href="#">Política de privacidad</a>, incluida la política de
                  <a href="#">Uso de Cookies</a>.
                </p>
              </div>
              <div class="iniciar-sesion">
                <h4 class="have-account">¿Ya tienes una cuenta?</h4>
                <button
                  type="button"
                  class="register new-sesion"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal1"
                >
                  Iniciar sesión
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MODAL 1 -->
      <form action="/login" method="post">
        <div
          class="modal fade"
          id="exampleModal1"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered h-100">
            <div class="modal-content bg-negro">
              <div class="modal-bird">
                <svg
                  class="left-bird-modal1"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  fill="white"
                  class="r-jwli3a r-4qtqp9 r-yyyyoo r-rxcuwo r-1777fci r-m327ed r-dnmrzs r-494qqr r-bnwqim r-1plcrui r-lrvibr"
                >
                  <g>
                    <path
                      d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
                    ></path>
                  </g>
                </svg>
              </div>
              <button
                type="button"
                class="btn-close p-3"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
              <div class="contenido-modal h-100 d-flex flex-column justify-content-between">
                <div class="elements h-100">
                  <div class="botones_modal">
                    <div class="div-modal-title">
                      <h4 class="modal-title">Inicia sesión en Twitter</h4>
                    </div>
                    <button class="register register_google">
                      <span class="google-icon"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          x="00px"
                          y="0px"
                          width="18"
                          height="18"
                          viewBox="0 0 48 48"
                          style="fill: #000000"
                        >
                          <path
                            fill="#FFC107"
                            d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
                          ></path>
                          <path
                            fill="#FF3D00"
                            d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
                          ></path>
                          <path
                            fill="#4CAF50"
                            d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
                          ></path>
                          <path
                            fill="#1976D2"
                            d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
                          ></path></svg></span
                      >Continuar con Google
                    </button>
                    <button class="register register_apple">
                      <span
                        ><svg
                          class="apple-icon"
                          xmlns="http://www.w3.org/2000/svg"
                          x="0px"
                          y="0px"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          style="fill: #000000"
                        >
                          <path
                            d="M 16.125 1 C 14.972 1.067 13.648328 1.7093438 12.861328 2.5273438 C 12.150328 3.2713438 11.589359 4.3763125 11.818359 5.4453125 C 13.071359 5.4783125 14.329031 4.8193281 15.082031 3.9863281 C 15.785031 3.2073281 16.318 2.12 16.125 1 z M 16.193359 5.4433594 C 14.384359 5.4433594 13.628 6.5546875 12.375 6.5546875 C 11.086 6.5546875 9.9076562 5.5136719 8.3476562 5.5136719 C 6.2256562 5.5146719 3 7.4803281 3 12.111328 C 3 16.324328 6.8176563 21 8.9726562 21 C 10.281656 21.013 10.599 20.176969 12.375 20.167969 C 14.153 20.154969 14.536656 21.011 15.847656 21 C 17.323656 20.989 18.476359 19.367031 19.318359 18.082031 C 19.922359 17.162031 20.170672 16.692344 20.638672 15.652344 C 17.165672 14.772344 16.474672 9.1716719 20.638672 8.0136719 C 19.852672 6.6726719 17.558359 5.4433594 16.193359 5.4433594 z"
                          ></path></svg
                      ></span>
                      Continuar con Apple
                    </button>
                    <div>
                      <span class="div-modal-o-2">
                        <hr class="line-modal" />
                        <span class="o-modal-2"><sup>o</sup></span>
                        <hr class="line-modal"
                      /></span>
                    </div>
                    <div class="siguiente">
                      <input
                        style="background-color: black; color: white"
                        class="input-email"
                        type="text"
                        placeholder="Correo electrónico o nombre de usuario"
                        name="user"
                      />
                      <button
                        class="button-prevent register siguiente-btn"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal2"
                      >
                        Siguiente
                      </button>
                      <button class="button-prevent register olvidaste-btn">
                        ¿Olvidaste tu contraseña?
                      </button>
                      <p>
                        ¿No tienes una cuenta?
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3"
                          >Regístrate</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MODAL 2 -->
        <div
          class="modal fade"
          id="exampleModal2"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered h-100">
            <div class="modal-content bg-negro">
              <div class="modal2-bird">
                <svg
                  class="left-bird"
                  viewBox="0 0 24 24"
                  aria-hidden="true"
                  fill="white"
                  class="r-jwli3a r-4qtqp9 r-yyyyoo r-rxcuwo r-1777fci r-m327ed r-dnmrzs r-494qqr r-bnwqim r-1plcrui r-lrvibr"
                >
                  <g>
                    <path
                      d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
                    ></path>
                  </g>
                </svg>
              </div>
              <button
                type="button"
                class="btn-close p-3"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
              <div class="contenido-modal h-100 d-flex flex-column justify-content-between">
                <div class="elements-modal2 h-100">
                  <div class="div-modal-title">
                    <h4 class="modal-title">Inicia sesión en Twitter</h4>
                  </div>
                  <button class="register register_google">
                    <span class="google-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        x="00px"
                        y="0px"
                        width="18"
                        height="18"
                        viewBox="0 0 48 48"
                        style="fill: #000000"
                      >
                        <path
                          fill="#FFC107"
                          d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
                        ></path>
                        <path
                          fill="#FF3D00"
                          d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
                        ></path>
                        <path
                          fill="#4CAF50"
                          d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
                        ></path>
                        <path
                          fill="#1976D2"
                          d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
                        ></path></svg></span
                    >Continuar con Google
                  </button>
                  <button class="register register_apple">
                    <span
                      ><svg
                        class="apple-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        style="fill: #000000"
                      >
                        <path
                          d="M 16.125 1 C 14.972 1.067 13.648328 1.7093438 12.861328 2.5273438 C 12.150328 3.2713438 11.589359 4.3763125 11.818359 5.4453125 C 13.071359 5.4783125 14.329031 4.8193281 15.082031 3.9863281 C 15.785031 3.2073281 16.318 2.12 16.125 1 z M 16.193359 5.4433594 C 14.384359 5.4433594 13.628 6.5546875 12.375 6.5546875 C 11.086 6.5546875 9.9076562 5.5136719 8.3476562 5.5136719 C 6.2256562 5.5146719 3 7.4803281 3 12.111328 C 3 16.324328 6.8176563 21 8.9726562 21 C 10.281656 21.013 10.599 20.176969 12.375 20.167969 C 14.153 20.154969 14.536656 21.011 15.847656 21 C 17.323656 20.989 18.476359 19.367031 19.318359 18.082031 C 19.922359 17.162031 20.170672 16.692344 20.638672 15.652344 C 17.165672 14.772344 16.474672 9.1716719 20.638672 8.0136719 C 19.852672 6.6726719 17.558359 5.4433594 16.193359 5.4433594 z"
                        ></path></svg
                    ></span>
                    Continuar con Apple
                  </button>
                  <div>
                    <span class="div-modal-o-2">
                      <hr class="line-modal" />
                      <span class="o-modal-2"><sup>o</sup></span>
                      <hr class="line-modal"
                    /></span>
                  </div>

                  <h4 class="nameUser">Inicia sesión con: "nombre de usuario"</h4>
                  <div class="siguiente">
                    <input
                      class="input-email input-modal-2"
                      style="background-color: black; color: white"
                      type="password"
                      placeholder="Ingresar contraseña"
                      name="password"
                    />
                    <button type="submit" class="register siguiente-btn">Iniciar sesión</button>
                    <button class="button-prevent register olvidaste-btn">
                      ¿Olvidaste tu contraseña?
                    </button>
                    <p>
                      ¿No tienes una cuenta?
                      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3"
                        >Regístrate</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div
        class="modal fade"
        id="exampleModal3"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered h-100">
          <div class="modal-content bg-negro">
            <div>
              <button
                type="button"
                class="btn-close p-3"
                style="color: white"
                data-bs-d5ismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="contenido-modal h-100 d-flex flex-column justify-content-between">
              <h1>Cree su cuenta</h1>
              <div class="row p-5">
                <form action="/register" enctype="multipart/form-data" method="post">
                  <div class="mb-3">
                    <label for="firstname" class="form-label">Nombre</label>
                    <input
                      style="background-color: black; color: white"
                      type="text"
                      class="form-control"
                      name="firstname"
                      id="firstname"
                      placeholder="Ingrese su nombre..."
                    />
                  </div>
                  <div class="mb-3">
                    <label for="lastname" class="form-label">Apellido</label>
                    <input
                      style="background-color: black; color: white"
                      type="text"
                      class="form-control"
                      name="lastname"
                      id="lastname"
                      placeholder="Ingrese su apellido..."
                    />
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Correo elecrónico</label>
                    <input
                      style="background-color: black; color: white"
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Ingrese su correo electrónico..."
                    />
                  </div>
                  <div class="mb-3">
                    <label for="username" class="form-label">Usuario</label>
                    <input
                      style="background-color: black; color: white"
                      type="text"
                      class="form-control"
                      name="username"
                      id="username"
                      placeholder="Ingrese su usuario..."
                    />
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input
                      style="background-color: black; color: white"
                      type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      placeholder="Ingrese su contraseña..."
                    />
                  </div>
                  <div class="mb-3">
                    <label for="profileImage" class="form-label">Imagen de perfil</label>
                    <input
                      style="background-color: black; color: white"
                      class="form-control"
                      type="file"
                      id="profileImage"
                      name="profileImage"
                    />
                  </div>
                  <button type="submit" class="btn" style="background-color: #1a8cd8; color: white">
                    Registrarse
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer"></div>
      <footer>
        <nav class="nav-footer">
          <a
            class="items-footer"
            href="https://about.twitter.com"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Información</span></a
          ><a
            class="items-footer"
            href="https://help.twitter.com"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"
              >Centro de Ayuda</span
            ></a
          ><a
            class="items-footer"
            href="https://twitter.com/tos"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"
              >Condiciones de Servicio</span
            ></a
          ><a
            class="items-footer"
            href="https://twitter.com/privacy"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"
              >Política de Privacidad</span
            ></a
          ><a
            class="items-footer"
            href="https://support.twitter.com/articles/20170514"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"
              >Política de cookies</span
            ></a
          ><a
            class="items-footer"
            href="https://help.twitter.com/resources/accessibility"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Accesibilidad</span></a
          ><a
            class="items-footer"
            href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html?ref=web-twc-ao-gbl-adsinfo&amp;utm_source=twc&amp;utm_medium=web&amp;utm_campaign=ao&amp;utm_content=adsinfo"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"
              >Información de anuncios</span
            ></a
          ><a
            class="items-footer"
            href="https://blog.twitter.com"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Blog</span></a
          ><a
            class="items-footer"
            href="https://status.twitterstat.us"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Estado</span></a
          ><a
            class="items-footer"
            href="https://careers.twitter.com"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Empleos</span></a
          ><a
            class="items-footer"
            href="https://about.twitter.com/press/brand-assets"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"
              >Recursos para marcas</span
            ></a
          ><a
            class="items-footer"
            href="https://ads.twitter.com/?ref=gl-tw-tw-twitter-advertise"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Publicidad</span></a
          ><a
            class="items-footer"
            href="https://marketing.twitter.com"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Marketing</span></a
          ><a
            class="items-footer"
            href="https://business.twitter.com/?ref=web-twc-ao-gbl-twitterforbusiness&amp;utm_source=twc&amp;utm_medium=web&amp;utm_campaign=ao&amp;utm_content=twitterforbusiness"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"
              >Twitter para empresas</span
            ></a
          ><a
            class="items-footer"
            href="https://developer.twitter.com"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"
              >Desarrolladores</span
            ></a
          ><a
            class="items-footer"
            href="https://twitter.com/i/directory/profiles"
            dir="auto"
            rel="noopener noreferrer nofollow"
            target="_blank"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Guía</span></a
          ><a
            class="items-footer"
            href="/settings"
            dir="auto"
            role="link"
            style="color: rgb(113, 118, 123)"
            ><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Configuración</span></a
          ><a href="" style="text-decoration: none">
            <span style="color: rgb(113, 118, 123)" ;>© 2022 Twitter, Inc.</span>
          </a>
        </nav>
      </footer>
    </div>

    <script src="./js/index.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
