body {
  color: white;
  background-color: black;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}
a {
  color: white;
}
a:link,
a:visited {
  text-decoration: inherit;
  text-decoration: none;
  cursor: auto;
}

a:hover {
  color: white;
}
li h5 {
  width: max-content;
  padding: 10px 20px;
  margin: 20px 0;
}
li h5:hover {
  color: white;
  background-color: #181818;
  height: fit-content;
  border-radius: 100px;
}

h4 {
  margin-bottom: 0;
}

li h4 {
  width: max-content;
  padding: 6px 20px;
  margin: 20px 0;
}
li h4:hover {
  color: white;
  background-color: rgb(56, 56, 56);
  height: fit-content;
  border-radius: 100px;
}

.profileList {
  margin-top: 10px;
  width: max-content;
  padding: 15px 20px 10px;
  color: #424853;
}

.profileList:hover {
  color: white;
  background-color: rgb(56, 56, 56);
  color: #424853;
}

.underline span {
  display: inline-block;
  color: white;
}

.underline span:after {
  content: "";
  height: 5px;
  background: #1a8cd8;
  border-radius: 5px;
  display: block;
  position: relative;
  bottom: -10px;
}
.profileUser {
  padding: 20px 0 0;
}

.profileImage {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
}

.backArrow {
  padding: 10px 15px;
}
.backArrow:hover {
  background-color: #424853;
  border-radius: 100px;
}

#headProfileImage {
  width: 9rem;
  height: 9rem;
  border-radius: 100px;
  margin: 10px;
  position: relative;
  bottom: 90px;
  border: solid black 4px;
}

.trends {
  padding: 20px;
  background-color: #16181c;
  border-radius: 20px;
}
.tt {
  color: #424853;
  font-size: 0.8rem;
  margin: 0;
}

#born {
  color: #424853;
  font-size: 1rem;
  margin: 5px 0;
}
.loremTT {
  margin: 0;
  font-size: 0.8;
  font-weight: bold;
}

.user {
  color: #424853;
  font-size: 0.8rem;
  text-decoration: none;
}
.user:hover {
  color: #424853;
}
.delete {
  background-color: black;
  color: #424853;
  border: none;
  position: relative;
  left: 600px;
}
#like {
  background-color: black;
  border: none;
  color: white;
}

#search {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #16181c;
  width: 100%;
  border: solid 1px #16181c;
}

#parallelLines {
  border-right: solid rgb(152, 151, 151) 1px;
  border-left: solid rgb(152, 151, 151) 1px;
}

.tweet-btn {
  background-color: #1a8cd8;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}
.tweet-btn:hover,
.tweet-btn:focus {
  background-color: #1681c8;
  border: #1681c8 solid 1px;
}

#sidebarTweetBtn {
  padding: 15px 0;
  width: 100%;
}

#headerPic {
  width: 100%;
  /* background-color: #16181c; */
  background-image: url(/img/tech.jpeg);
  height: 250px;
  margin: 0;
}

#edit-btn {
  border: solid white 1px;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  padding: 6px 15px;
  position: relative;
  bottom: 140px;
  left: 500px;
}

#hh {
  height: 320px;
}

#userInfo {
  margin: 0 10px;
}
.sidebar {
  position: fixed;
  height: 100vh;
}

#logout {
  background-color: black;
  color: #424853;
  border: none;
}
