* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.modal-dialog {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  /* align-items: center; */
  top: -5vh;
  left: 0;
  backdrop-filter: blur(6px);
}

.modal-content {
  justify-content: center;
  /* text-align: center; */
  width: 550px;
  height: 700px;
}

.modal-body {
  border-radius: 15px;
  background-color: #000000;
  width: 700px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 1px;
}

.div-label-general-modal {
  margin: 3rem;
}

.label-general-modal {
  font-size: 2.3rem;
  font-weight: 700;
  text-align: left;
  margin-left: 7rem;
  color: white;
}

.div-modal-google-register-buttom {
  margin-bottom: 30px;
}

.modal-google-register-buttom {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #0f1419;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 25px;
  padding: 0.55rem 5.45rem 0.8rem;

  margin-top: 3.125rem;
  transition: 0.4s;
}

.div-modal-apple-register-buttom {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.modal-apple-register-buttom {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #0f1419;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 25px;
  padding: 0.65rem 5.7rem;
  margin-top: 3.125rem;
  transition: 0.4s;
}

.div-modal-o {
  margin: 1.2rem 0 0rem;
}

.o-modal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  color: white;
  margin: 0.9rem 0 0.1rem 0;
}

.div-input-modal {
  padding: 0.31px;
  margin: 0.5rem;
}

.input-modal {
  padding: 1rem 3.8rem;
  border-radius: 0.3rem;
}

.input-modal:placeholder-shown {
  text-align: center;
  font-size: 1.2rem;
  background-color: #000000;
}

.div-modal-next-register-buttom {
  margin: 2.2rem;
}

.modal-next-register-buttom {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  vertical-align: center;
  padding: 0.6rem 8.5rem 0.7rem;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.4s;
}

.div-modal-forget-password-buttom {
    margin: 2.8rem;
}

.modal-forget-password-buttom {
  background-color: #020202;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  vertical-align: center;
  padding: 0.5rem 4.5rem 0.6rem;
  border: .05rem solid rgb(89, 89, 89);
  border-radius: 25px;
  text-decoration: none;  
  transition: 0.4s;
}

.div-login-modal-not-have-account {
  float: left;
  font-weight: 100;
  margin-bottom: .8rem;
}

.login-modal-not-have-account {
  font-weight: 100;
  color: #63717b;
  font-size: 1.1rem;
  margin-top: 3rem;
  margin-left: 10rem;
}

.anchor-modal-not-have-account {
  text-decoration: none;
}
