* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
}

.contenedor {
   height: 100vh; 
 
  display: flex;
  flex-direction: column;
  background-color: black;
}

.div-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/login_left.png");
  height: 100%;
}

.left-bird {
  width: 38.5%;
}

.right-bird {
  margin-top: 2rem;
  width: 6%;
}

.maint-title {
  
  color: white;
  font-size: 1.2rem;
}

.subtitle {
  color: white;  
  font-size: 1.8rem;
}

.google-icon {
  position: relative;
  right: 3px;
  top: -1.5px;
}


.login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 55%;
  
}

.login-info h1 {
  font-size: 3rem;
  font-weight: bolder;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

.login-info h3 {
  font-weight: bolder;
  margin-top: 10px;
  font-size: 2.2rem;
}

.register_buttons {
  margin-top: 8px;
  padding: 1.5rem 0;
  font-weight: 800;
  width: 350px; 
}

.register_google {
  font-weight: 600;
  color: #3c3f42;
 width: 100%;
}


.register {
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 7px 0px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 25px;
  text-decoration: none;
  transition: 0.4s;
}


.register_apple {
  color: #0f1419;
  font-weight: 500;
  width: 100%;
}

.new-register {
  background-color: #1a8cd8;   
  font-weight: 600;
  color: white;
  width: 100%;
  height: 43px;  
}

.register_buttons .o {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;  
}

.termins {
  font-size: 0.8rem;
  font-weight: 200;
}


.btn-close {
  color: white;  
}

.div-modal-o {
  display: block;
  padding-left: .5rem;
  justify-content: center;
}

.o-modal {
  display: inline-block;
  font-weight: 100;
  margin-left: 1rem;
}

.line {
  /* display: inline-block;   */
  width: 9rem;
  color: #bebebe;
  margin-bottom: 15px;
}

.o {
  line-height: normal;
  margin: 0;
}

.container-o {
display: flex;
justify-content: center;
color: rgb(157, 157, 157);
font-weight: bolder;
width: 100%;
}

.have-account {
color: white;
margin-left: 1.8rem;
}

.new-sesion {
  color: white;
  border: .1px solid white;
  margin-top: 15px;
  margin-left: 1.9rem; 
  width: 320px;
  height: 40px;
  background-color: black;
}

.modal-bird {
  width: 7%;
  padding-top: 1rem;
}

.modal2-bird {
  width: 11%;
  padding-top: 1rem;
}

.botones_modal {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-email {
  padding: 14px 5px;
  
}

.input-email:placeholder-shown {
background-color: black;
color: white;
min-width: 8rem;
border:0.5px solid #1a8cd8;
}

.siguiente {
  width: 100%;
}

.siguiente .input-email {
  width: 100%;
}

.siguiente p a {
  color: #1a8cd8;
}

.siguiente-btn {
  margin-top: 25px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.olvidaste-btn {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: .2px solid white;
}

.modal-content {
  border-radius: 20px !important;
  align-items: center;
}

.bg-negro {
  background-color: black;
  color: white;
  justify-content: center;
}

.contenido-modal {
  width: 600px;
  align-items: center;
  justify-content: center;
}

.div-modal-title {
  padding-bottom: 2rem;  
}

.modal-title {
  font-size: 2rem;
  text-align: left;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.elements h4 {
  font-weight: bold;
}


.div-modal-o-2 {
  display: block;  
  justify-content: center;
  
}

.o-modal-2 {  
  font-weight: 100; 
  text-align: center;
  font-size: 1.5rem;
  align-items: center;
  padding-bottom: 10px;
  padding: 0.3rem;
  position: relative;
  bottom: 0.18rem;
}

.line-modal {
  display: inline-block;  
  min-width: 7rem;
  color: #4c4c4d;
}

.blur {
  backdrop-filter: 6px;
}

.apple-icon {
  position: relative;
  bottom: 2px;  
}



.nav-footer {
  height: 100%;
  background-color: black;
}

.input-modal-2 {
  
  max-width: 300px;
}

.elements-modal2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}

.items-footer {
 margin: 5px;
  font-size: .9rem;
}

.nav-footer {
  padding: 10px 5px 30px;
  text-align: center;
 height: 100%;
}

















/* 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: #050505;
}

.main {
  display: flex;
  height: 100%;
}

.img {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  background-image: url("../img/login_left.png");
  height: 100%;
}

.login {
  width: 100%;
}
.twitter-small-bird {
  color: rgb(214, 217, 219);
  width: 20%;
  margin-left: 2.5rem;
}

.twitter-small-bird svg {
  width: 30%;
}

.main-title {
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -1.2px;
  display: block;
  color: white;
  margin-left: 2.5rem;
  
  font-size: 4.3rem;
}

.subtitle {
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  display: block;
  color: white;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  font-size: 2.1rem;
}

.div-nav-footer {
  display: inline-block;
  text-align: center;
}

.div-google-register-buttom {
  margin-bottom: 30px;
}

.google-register-buttom {
  background-color: white;
  color: #0f1419;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 10px 4.8rem;
  margin-left: 2.5rem;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.4s;
}

.div-apple-register-buttom {
  margin: 20px;
}

.apple-register-buttom {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #0f1419;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 4.9rem;
  margin-left: 1.2rem;
  transition: 0.4s;
}

.o {
  margin-left: 2.5rem;
  font-size: 1.2rem;
  color: white;
}

.line {
  display: inline-flex;
  width: 8.8rem;
  color: grey;
}

.div-cellphone-register-buttom {
  margin-top: 1.5rem;
}

.cellphone-register-buttom {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background-color: #1a8cd8;
  font-weight: 600;
  color: white;
  vertical-align: center;
  padding: 0.6rem 1.4rem 0.7rem;
  border-radius: 25px;
  margin-left: 2.5rem;
  text-decoration: none;
  transition: 0.4s;
}

.cellphone-register-buttom:hover {
  color: #1d9bf0;
}

.div-termns-conditions {
  margin-top: 1.3rem;
  margin-bottom: 4rem;
  margin-left: 3.6rem;
  font-size: 0.7rem;
}

.termns-conditions {
  color: white;
}

.label-login {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  color: white;
  margin-left: 2.5rem;
  margin-bottom: 1.5rem;
}

.login-button {
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px 6rem;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  color: #1d9bf0;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 25px;
  margin-top: 30px;
  margin-left: 2.5rem;
  text-decoration: none;
  transition: 0.4s;
}

.login-button:hover {
  background-color: #03111a;
}

.items-footer {
  justify-content: space-around;
  padding: 2rem 0.5rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.div-nav-footer {
  margin-top: 0px;
} */