body {
  color: white;
  background-color: black;
  /* margin-top: 20px; */
}

ul {
  list-style: none;
}
a {
  color: white;
}
a:link,
a:visited {
  text-decoration: inherit;
  text-decoration: none;
  cursor: auto;
}

a:hover {
  color: white;
}
li h4,
li h2 {
  width: max-content;
  padding: 2px 20px;
  margin: 20px 0;
}
li h4:hover,
li h2:hover {
  color: white;
  background-color: rgb(56, 56, 56);
  height: fit-content;
  border-radius: 100px;
}
.profileList {
  margin-top: 10px;
  width: max-content;
  padding: 15px 20px;
  color: #424853;
}

.profileList:hover {
  color: white;
  background-color: rgb(56, 56, 56);
  color: #424853;
}
#selected {
  color: white;
  text-decoration: underline #1a8cd8 4px;
}
#profileUser {
  margin: 20px 0 0 0;
}

.profileImage {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
}

#headProfileImage {
  width: 8rem;
  height: 8rem;
  border-radius: 100px;
  margin: 10px 0;
}

.trends {
  padding: 20px;
  background-color: #16181c;
  border-radius: 20px;
}
.tt {
  color: #424853;
  font-size: 0.8rem;
  margin: 0;
}

.loremTT {
  margin: 0;
  font-size: 0.8;
  font-weight: bold;
}

.user {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

#like {
  background-color: black;
  border: none;
  color: white;
}

#search {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #16181c;
  width: 100%;
  border: solid 1px #16181c;
}

#parallelLines {
  border-right: solid rgb(152, 151, 151) 1px;
  border-left: solid rgb(152, 151, 151) 1px;
}

.tweet-btn {
  background-color: #1a8cd8;
  color: white;
  border-radius: 50px;
  font-weight: bold;
}
.tweet-btn:hover,
.tweet-btn:focus {
  background-color: #1681c8;
  border: #1681c8 solid 1px;
}

#sidebarTweetBtn {
  padding: 15px 0;
  width: 100%;
}
