/* Este es el CSS del proyecto */

body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-columns:45% 55%;    
}

.grid-item {
    display: flex;
}

img {
    background-image: fluid;
    width: 100%;   
   
  }

.login-background {
    position: relative;
    width: 100%;
}

.twitter-small-bird {    
    color: rgb(214, 217, 219);  
    width: 6%;
    margin-left: 2.5rem;
    position: relative;
    
}

.main-title {
    display: block;
    color: white;
    ;
    margin-left: 2.5rem;
    font-size: 5rem;
}

.subtitle {
    color: white;
    margin-top: 3rem;
    margin-left: 2.5rem;
    font-size: 2.5rem;
}

.div-register-button {
padding-top: 15px;
}

.register-button {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 100px;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    color: #1D9BF0;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 2.5rem;
    text-decoration: none;
    transition: .4s;
}

.register-button:hover {
background-color: #03111a;
}

.grid-container2 {
    display: grid;
    grid-template-rows:62%; 
}

.nav-footer {
    padding: .6rem;
    font-size: .8rem;
}